body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 7rem;
  margin: 25px auto 0 auto;
  font-family: 'Sacramento', cursive;;
}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

.pro {
  text-decoration: underline;
}

.top-div {
  background-color: #EAF6F6;
  color: #66BFBF;
}

.cloud {
  width: 8.5%;
}

.top-cloud {
  position: relative;
  left: 16%;
  top: 30px;
}

.bottom-cloud {
  position: relative;
  right: 15%;
}

.about-me {
  margin-top: 2.5%;
  width: 25%;
  margin: 2.5% auto 0 auto;
}

.pic-of-jay {
  width: 205px;
  height: 200px;
  border-radius: 50%;
}

.paragraphs {
  font-family: 'Arvo', serif;
  line-height: 2;
  margin-bottom: 20%;
}

.dots {
  color: #EAF6F6;
  border-style: dotted none none none;
  border-width: 10px;
  width: 15%;
  margin: 0 auto;
}
